# Introduccion a las listas

In [1]:
# Crear listas
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [2]:
# Acceder a elementos de lista por indice
print('The first planet is ',planets[0])
print('The second planet is ',planets[1])
print('The third planet is ',planets[2])

The first planet is  Mercury
The second planet is  Venus
The third planet is  Earth

In [3]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Red Planet

In [4]:
# Determinar la longitud de una lista

number_if_planets = len(planets)
print('There are', number_if_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [6]:
# Agregar valores a lista
    #Para agregar elemnto a lista se usa .append(value)

planets.append('Pluton')
number_if_planets = len(planets)
print('There are actualy', number_if_planets, 'planets in the solar system.')

There are actualy 10 planets in the solar system.

In [7]:
# Eliminar valores de una lista mediante el metodo .pop()

planets.pop() #Goodbye, Pluton
number_if_planets = len(planets)
print('No, There are definitely', number_if_planets, 'planets in the solar system')

No, There are definitely 9 planets in the solar system

In [8]:
# Indices negativos

print("The firts planet is", planets[0])

The firts planet is Mercury

In [11]:
# Los indices negativos comienzan al final de la lista y trabajan hacia atras.
print('The last planet is ', planets[-1])
print("The penultimate planet is ", planets[-2])
print('The planets are: ',planets)

The last planet is  Pluton
The penultimate planet is  Neptune
The planets are:  ['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluton']

In [13]:
# Buscar un valor en una lista

Jupiter_index = planets.index('Jupiter')
print('Jupiter is the', Jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

# Trabajar con n√∫meros en listas

In [14]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [15]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [16]:
# min() y max() con listas
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

# Manipular datos de lista

In [ ]:
# slicing (examinando solo una parte) y el sorting

# Slice list
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

In [17]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [18]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluton']

In [19]:
# Union listas
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [21]:
# Ordenar listas
    # sort() metodo para ordenar una lista en orden alfabetico y una lista en numeros en orden numerico

regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [23]:
# Para ordenar una lista en forma inversa, llamada .sort(reverse=True)
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']